header{
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkmagenta;
    color:violet;
    text-align: center;
}

p{
    text-align: center;
}

h2,legend{
    font-size:35pt;
    font-family:Arial, Helvetica, sans-serif;
    background-color:violet;
    color:darkmagenta;
}

#main{
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

#linha{
    background-color: darkmagenta;
}

div.btn{
    border-radius: 10px;
    padding: 12pt;
    margin: 0.5em;
    background-color:violet;
    width: 100px;
    text-align: center;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}

a{
    color:darkmagenta;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color:white;
}

div.btn:active{
    background-color: palevioletred;
}

/*index*/
figure{
    text-align: center;
    margin:2px auto;
}

.capa{
    width: 300px;
    margin: 0 auto;
    display: block;
    border:4px solid palevioletred;
}

.capa1{
    width: 530px;
    border:4px solid palevioletred;
    margin: 10px auto;
    display: block;
}

.figcaption {
  font-size: 14px;
  margin-top: 8px;
  color: #333;
  text-align: center;
}

#tabela{
    padding:10pt;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.engxodonto{
    display:flex;/*ordena o elemento no próximo espaço em branco que tiver*/
    align-items: center;
    gap:20px;
    margin: 1pt;
}

.eng img{
    width: 450px;
    height: 200px;
    /*border: solid darkmagenta 2px;*/
}

.odonto img{
    width: 450px;
    height: 200px;
    /*border:solid darkmagenta 2px;*/
}

.vs img{
    width: 120%;
    align-items: center;
}

/*formulário*/


/*hobbies*/
h4{
    font-size: 18pt;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightpink;
    display: inline;
}

h7{
    font-size: 14pt;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.container {
    display: flex;
    justify-content: center;   /* alinha horizontalmente */
    align-items: center;       /* alinha verticalmente */   
}

.hobbies{
    width: 300px;  
    margin:5px;   
    border:solid 4px lightpink;
}

.livros{
    display: flex;
    flex-wrap: wrap; /* para quebrar linha se faltar espaço */
    gap: 20px;
    justify-content: center;
}

.polaroid{
    width: 180px;
    text-align: center;
}

.polaroid img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    display: block;
}

.polaroid figcaption {
  font-size: 14px;
  margin-top: 8px;
  color: #333;
}

.viagem img{
    width: 300px;  
    margin:5px;   
    border:solid 4px lightpink;
}

[src$='MOV']{
    margin:5px;   
    border:solid 4px lightpink;
    width: 300px;
}

.separa{
    background-color: lightpink;
}

/*curiosidades*/
#centro{
    margin:5px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.caixa{
    width: 400px;
    border: solid darkmagenta 2px;
    border-radius:10px;
    background-color: violet;
    display: inline-block;
    padding:2%;
    margin:5%;
}

.fonte{
    width: 400px;
    border: solid deeppink 2px;
    border-radius:10px;
    background-color: hotpink;
    display: inline-block;
    padding:2%;
    margin:5%;
}

#pizza,#sorvete{
    height: 200px;
    width: 350px;
    border: solid 1px;
    border-radius: 10px;
    align-items: center;
    margin: 5%;
    display: inline-block;
    text-align: center;
}

#ukulele{
    height: 300px;
    width: 350px;
    border: solid 1px;
    border-radius: 10px;
    align-items: center;
    margin: 5%;
    display: inline-block; 
}

#rodape{
    background-color:darkmagenta;
    text-align: center;
    color:violet;
}